.autenticacao_body{
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
    background-image: linear-gradient(var(--secondary-low), var(--secondary-low)), url('../../../public/assets/sp_background.jpg');
}

.autenticacao_body .autenticacao_box-autenticacao{
    width: 40%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 20px;
}

.autenticacao_body .autenticacao_box-autenticacao .autenticacao_title{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 30px;
}

.autenticacao_body .autenticacao_box-autenticacao .autenticacao_title h1{
    color: #444;
}

.autenticacao_body .autenticacao_box-autenticacao .autenticacao_title p{
    color: #888;
}

.autenticacao_body .autenticacao_box-autenticacao .autenticacao_title p a{
    color: var(--primary);
}

.autenticacao_body .autenticacao_box-autenticacao .group_default-cadastro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;   
}

.autenticacao_body .autenticacao_box-autenticacao .group_default-cadastro .auth-input-group_default{
    position: relative;
    background-color: var(--input-background);
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    border: 1px solid var(--secondary-low);
    border-bottom: 4px solid var(--bottom-border);
    border-radius: 8px;
    gap: 5px;
}

.autenticacao_body .autenticacao_box-autenticacao .group_double-cadastro{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;  

}

.autenticacao_body .autenticacao_box-autenticacao .group_double-cadastro .auth-input-group_default{
    position: relative;
    background-color: var(--input-background);
    width: 190px;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    border: 1px solid var(--secondary-low);
    border-bottom: 4px solid var(--bottom-border);
    border-radius: 8px;
    gap: 5px;
}

.autenticacao_body .autenticacao_box-autenticacao .group_double-cadastro .auth-input-group_default label{
    color: #888;
    font-size: 14px;
}

.autenticacao_body .autenticacao_box-autenticacao .group_double-cadastro .auth-input-group_default input{
    background: transparent;
    border-style: none;
    outline: none;
    font-size: 16px;
}

.autenticacao_body .autenticacao_box-autenticacao .group_default-cadastro .auth-input-group_default label{
    color: #888;
    font-size: 14px;
}

.autenticacao_body .autenticacao_box-autenticacao .group_default-cadastro .auth-input-group_default input{
    background: transparent;
    border-style: none;
    outline: none;
    font-size: 16px;
}

.autenticacao_body .autenticacao_box-autenticacao .group_default-cadastro .auth-input-group_default button{
    background: none;
    width: fit-content;
    color: #444;
    border: none;
    position: absolute;
    right: 0;
}

.autenticacao_body .autenticacao_box-autenticacao .group_default-cadastro .auth-input-group_default button:hover{
    border: none;
    background: none;
    transform: scale(1.1);
}

.autenticacao_body .autenticacao_box-autenticacao .group_default-cadastro button{
    width: 100%;
    padding: 10px 15px;
    border: 4px solid var(--secondary-low);
    background-color: var(--primary);
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.autenticacao_body .autenticacao_box-autenticacao .group_default-cadastro button:hover{
    transform: scale(1.025);
    cursor: pointer;
    background-color: var(--header)
}

.autenticacao_body .autenticacao_box-autenticacao .group_default-cadastro a{
    color: var(--primary);
    width: 100%;
    text-align: center;
}

.autenticacao_body .autenticacao_box-autenticacao .group_default-cadastro .group_input-checkbox{
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    line-height: 1;
    gap: 5px;
}

.autenticacao_body .autenticacao_box-autenticacao .group_default-cadastro .group_input-checkbox input{
    cursor: pointer;
}

.autenticacao_body .autenticacao_box-autenticacao .group_default-cadastro .group_input-checkbox label{
    color: #666;
}

.divider{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    gap: 15px;
}

.divider p{
    color: #888;
}

.divider span{
    width: 50%;
    border-bottom: 1px solid #88888825;
}

.autenticacao_body .autenticacao_box-autenticacao  .group_alternative-cadastro button{
    width: 400px;
    padding: 10px 15px;
    border: 4px solid var(--focus-input);
    background-color: var(--focus-input);
    border-radius: 6px;
    font-size: 16px;
    color: #444;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.autenticacao_body .autenticacao_box-autenticacao  .group_alternative-cadastro button img{
    height: 24px;
}

.autenticacao_body .autenticacao_box-autenticacao  .group_alternative-cadastro button:hover{
    transform: scale(1.025);
    cursor: pointer;
    background-color: #F2F2F2;
    border: 4px solid #F2F2F2;
}